.textarea1 {
	text-align: left;
	height: 295px;
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: "Times New Roman, Times, serif";
	line-height: 1.6;
	background-color: #E8E8E8;
	resize: none;
	border: none;
	overflow: scroll;
		overflow-y: auto;
	overflow-x: auto;

}
