.App {
  text-align: center;
}
.alert {
  float: right;
  font-size: 2em;
  text-align: center;
  width:400px;
}
.wrapper {
    width: 100em;
    max-width: calc(110% );
    margin: 0 auto;
  }
  .main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
  }
    .main2 {
    background-color: #E8E8E8;
    color: #636363;
    border-radius: 0.25em;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
